/* Based on the colours of UP */

.bg-bordeaux {
  background-color: #6A1F2B; /* bordeaux, primary colour -> used for navbars, buttons, links etc */
}

.bg-dark_gold {
  background-color: #AF8948; /* dark gold -> used for icons, boarders */
}

.bg-beige {
  background-color: #F7F1E1;/* light beige -> background in content areas */
}

.bg-dark_brown {
  background-color: #3B2C2C;/* dark brown -> used for text */
}

.bg-white {
  background-color: #FFFFFF;/* white -> used for backgrounds */
}

.bg-light_gray {
  background-color: #e2e1e1;/* light gray */
}

.carousel-wrapper {
  overflow: hidden;
  width: 100%;
  background: #f8f9fa;
}

.carousel-track {
  display: flex;
  gap: 2rem;
  animation: scroll 30s linear infinite;
}

.carousel-track > .card {
  min-width: 250px;
  flex: 0 0 auto;
}

@keyframes scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
