/* Based on the colours of UP */

.bg-bordeaux {
  background-color: #6A1F2B; /* bordeaux, primary colour -> used for navbars, buttons, links etc */
}

.text-bordeaux {
  color:  #6A1F2B; /* or your custom bordeaux hex code */
}

/* Bold when hovered */
a:hover .text-bordeaux {
  font-weight: bold;
}

/* Colouring for the outlines, small details */
.btn-outline-bordeaux {
  color: #6A1F2B; /* bordeaux -> for the button */
  border-color: #6A1F2B; /* bordeaux -> for the outline*/
}

/* Their colour when hovered */
.btn-outline-bordeaux:hover {
  background-color: #800000; /* dark bordeaux -> used for the button when hovered */
  color: #fff;  /* white text when hovered */
}

/* Custom input field style for disabled fields */
.bordeaux-outline {
  border: 1px solid #6A1F2B;   /* Use same Bordeaux color as the buttons */
  background-color: white;     /* Keep background white */
  color: #212529;              /* Text color */
  opacity: 1;                    /* Prevent Bootstrap from fading disabled input */
  cursor: default;               /* Prevent text cursor */
}

.bordeaux-outline:disabled {
  background-color: white;   /* Ensure background stays white when disabled */
}

.custom-alert-backdrop {
  display: none;
  justify-content: center;
  align-items: center;
}

.bg-dark_gold {
  background-color: #AF8948; /* dark gold -> used for icons, boarders */
}

.bg-beige {
  background-color: #F7F1E1;/* light beige -> background in content areas */
}

.bg-dark_brown {
  background-color: #3B2C2C;/* dark brown -> used for text */
}

.bg-white {
  background-color: #FFFFFF;/* white -> used for backgrounds */
}

.bg-light_gray {
  background-color: #e2e1e1;/* light gray */
}

.carousel-wrapper {
  overflow: hidden;
  width: 100%;
  background: #f8f9fa;
}

.carousel-track {
  display: flex;
  gap: 2rem;
  animation: scroll 30s linear infinite;
}

.carousel-track > .card {
  min-width: 250px;
  flex: 0 0 auto;
}

@keyframes scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.nav-link i {
  font-size: 1.2rem;
  width: 20px;        
  text-align: center; 
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}
